*{margin: 0; padding: 0;}

body{
    font-family: 'signikaregular';
    font-size: medium;
    color: #000;
    background: #fff;
    padding: 0;
    margin: 0;}
	
@font-face {
    font-family: 'signikaregular';
    src: url('fonts/signika-regular-webfont.eot');
    src: url('fonts/signika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/signika-regular-webfont.woff2') format('woff2'),
         url('fonts/signika-regular-webfont.woff') format('woff'),
         url('fonts/signika-regular-webfont.ttf') format('truetype'),
         url('fonts/signika-regular-webfont.svg#signikaregular') format('svg');
    font-weight: bold;	
    font-style: normal;

}

.container{ width: 100%; overflow: hidden; background:#ffffff;}
.top{ width: 100%; height: 3em; text-align: center; }

#header{font-size: 1.125em; padding: 1px; height:auto;}

.logo{ width:93px; height:29px; background: url(images/logo.png) no-repeat;float:left; margin-left:.5em;}
.rtxt{ width:auto; height:auto; float:right; margin-right:.6em; font-size:.7em; color:#c612bc; text-align:left;}
.textMess{
    color: #000000;
    font-size: .9em;
    font-family: 'signikaregular';
	font-weight:bold;    
    padding-top: .8em;
}

.txt1{color: #c612bc; font-size: 1.5em; font-family: 'signikaregular'; font-weight:normal; text-align:center;}
.txt2{color: #c612bc; font-size: 1.2em; font-family: 'signikaregular'; font-weight:normal; text-align:left; padding-left:1em;}
#footer{
    padding: .2em;
    background: #d60301;
    color: #fff;
    font-size: .8em;
    text-align: left;
	font-weight:bold;
	height:25px;
	padding-top:.5em;}
	
.image-left {max-width: 100%; display: block; margin-left: auto; margin-right: auto;}

.btn{ background:#c612bc; padding: .4em .4em .4em .4em; cursor:pointer; display:block; text-decoration:none; color:#FFF; text-align:center; font-size:1.2em;}

ul.a{
		text-align:left;
		color: #d228c7;
		list-style-type:disc;
		list-style-position: inside;
		font-size: 1em;
		font-family: 'signikaregular';
		padding-left:1.5em;
		}
	
@media (max-width: 240px) {

.add{width:240px !important; height:130px !important;}

}

