<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thank You</title>
<style>
body{
position:relative;
font-family:Arial;
margin: 0;
overflow:hidden;
}
h3.head{
width:100%;
padding:20px 25px;
color:#fff;
background-color:#2a2f42;
margin:0;
font-weight: 600;
}
p.para{
color:#757575;
text-align:center;
font-size:18px;
margin-top:40px;
}

.footer{
position:fixed;
width:100%;
bottom:90px;
margin-left:-60px;
}
.footer>div>img{
float:right;
width:21%;
}
h5{
font-size:22px;
color:#606060;
text-align:right;
position:fixed;
bottom:15px;
width:100%;
margin-left:-60px;
}
</style>
</head>
<body>
<header>
<h3 class="head"> Pack Purchase</h3>
<p class="para"><span th:text="${message}"></span></p>
</header>
<footer>
<div class="footer">
	<div>
		<img src="/images/thankyou_logo.jpg"/>
	</div>
</div>
</footer>
<br/>
<div>
<h5>&copy; 2018 All Rights Reserved</h5>
</div>
</body>
</html>
