<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta http-equiv="cache-control" content="max-age=200" />
    <title>NexGTv</title>
    <link href="/css/style.css" media="handheld, screen" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="container">
        <div id="header">
            <div class="logo">
                JOCGv4</div>
        </div>
        <div class="textMess">
            <p>
                <span th:text="${message}"></span></p>
            <br />
           
        </div>
    </div>
    <br />
    <div style="float: left; font-size: 15px; width: 100%; text-align: right;" id="hd"
        runat="server" visible="false">
        In case you want to Unsubscribe,<asp:HyperLink ID="HyperLink1" runat="server" CssClass="ftClass"
            NavigateUrl="#">Click Here.</asp:HyperLink>
    </div>
    <p align="right">
       JOCG-V4
    </p>
    <div id="bottom">
        © 2014. All Rights Reserved.
    </div>
    </form>
</body>
</html>
