<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="max-age=200" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome</title>
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="/css/main.css" />
	 <link href="/css/style.css" media="handheld, screen" rel="stylesheet" type="text/css" />
	<script src="http://api.junohub.com/junotele-pg-core-wapapi.js"></script> 
	
	<script  type="text/javascript">
		/*<![CDATA[*/
		function requestJuno(){
			var prdid=document.getElementById('prdid').value;
			var prdnm=document.getElementById('prdnm').value;
			var prddesc=document.getElementById('prddesc').value;
			var cgimg=document.getElementById('cgimg').value;
			var prdtype=document.getElementById('prdtype').value;
			var amt=document.getElementById('amt').value;
			var curr=document.getElementById('curr').value;
			var cpid=document.getElementById('cpid').value;
			var cpnm=document.getElementById('cpnm').value;
			var validity=document.getElementById('validity').value;
			var csize=document.getElementById('csize').value;
			var act=document.getElementById('prmact').value;
			var transid=document.getElementById('transid').value;
			var opname=document.getElementById('opname').value;
			//alert('Invoking Operator Charging URL for Trans Id '+transid);
			junoPurchase(prdid,prdnm,prddesc,cgimg,prdtype,amt,curr,cpid,cpnm,validity,csize,act,transid,opname);
		}
		/*]]>*/
</script>
</head>
<body>
	<form action="#"  th:object="${junoparams}" method="POST">
	  <div class="container">
        <div class="top">
            <div id="header">
                <div class="logo"> <img src="/images/logo.png" width="50" height="50" alt="NexGTv" /></div>
                <div class="rtxt"><p>   Entertainment for<br />  <b>the non-stop generation</b>  </p>  </div>
            </div>
            <p class="hdg2">  &nbsp;</p>
        </div>
          <div class="textMess">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr height="5">
                    <td> </td>
                </tr>
                <tr height="5">
                    <td></td>
                </tr>
                <tr>
                    <td align="center">
                        <table>
                            <tr>
                                <td>
                                    <div>
                                    		<input type="hidden" id="prdid" th:value="${junoparams.junoProductId}"/>
                                    		<input type="hidden" id="prdnm" th:value="${junoparams.productName}"/>
                                    		<input type="hidden" id="prddesc" th:value="${junoparams.productDescp}"/>
                                    		<input type="hidden" id="cgimg" th:value="${junoparams.cgImage}"/>
                                    		<input type="hidden" id="prdtype" th:value="${junoparams.productType}"/>
                                    		<input type="hidden" id="amt" th:value="${junoparams.amount}"/>
                                    		<input type="hidden" id="curr" th:value="${junoparams.currency}"/>
                                    		<input type="hidden" id="cpid" th:value="${junoparams.cpId}"/>
                                    		<input type="hidden" id="cpnm" th:value="${junoparams.cpName}"/>
                                    		<input type="hidden" id="validity" th:value="${junoparams.validity}"/>
                                    		<input type="hidden" id="csize" th:value="${junoparams.contentSize}"/>
                                    		<input type="hidden" id="prmact" th:value="${junoparams.action}"/>
                                    		<input type="hidden" id="transid" th:value="${junoparams.transId}"/>
                                    		<input type="hidden" id="opname" th:value="${junoparams.operatorName}"/>
									        <input type="submit" value="PROCEED TO PAY"  onclick="requestJuno()" /> 
	                                     </div>
	                                </td>
	                            </tr>
	                        </table>
                   		 </td>
                </tr>
                <tr height="5">
                    <td> </td>
                </tr>
                <tr>
                    <td align="center">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="txt3">   &nbsp; </td>
                            </tr>
                            <tr>
                                <td class="txt1">  nexGTv-The Tv button  <br /> on your mobile device.  </td>
                            </tr>
                            <tr height="5">
                                <td>   </td>
                            </tr>
                            <tr>
                                <td> &nbsp;  </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <div>
                                                    <p class="txt2">
                                                        You will also get full access to:</p>
                                                    <p>
                                                        <ul class="a">
                                                            <li>140+ Live TV channels</li>
                                                            <li>Latest tv shows episodes</li>
                                                            <li>Unlimited popular videos</li>
                                                            <li>Unlimited blockbuster movies</li>
                                                            <li>Sync all your devices with a
                                                                <br />
                                                                single subscription </li>
                                                        </ul>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr height="10">
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        
        
        </div>
	</form>
	
	
	


</body>
</html>