<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="max-age=200" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome</title>
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="/css/main.css" />
	 <link href="/css/style.css" media="handheld, screen" rel="stylesheet" type="text/css" />
	 
</head>
<body >
	<form action="https://secure.paytm.in/oltp-web/processTransaction"  th:object="${ptmparams}" method="POST">
	  <div class="container">
        <div class="top">
            <div id="header">
                <div class="logo"> <img src="/images/logo.png" width="50" height="50" alt="NexGTv" /></div>
                <div class="rtxt"><p>   Entertainment for<br />  <b>the non-stop generation</b>  </p>  </div>
            </div>
            <p class="hdg2">  &nbsp;</p>
        </div>
          <div class="textMess">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr height="5">
                    <td> </td>
                </tr>
                <tr height="5">
                    <td></td>
                </tr>
                <tr>
                    <td align="center">
                        <table>
                            <tr>
                                <td>
                                    <div>
                                    		<input type="hidden" name="REQUEST_TYPE"  th:value="${ptmparams.REQUEST_TYPE}"  /> 
												<input type="hidden" name="MID"  th:value="${ptmparams.MID}"  /> 
												<input type="hidden" name="ORDER_ID"  th:value="${ptmparams.ORDER_ID}"  /> 
												<input type="hidden" name="CUST_ID"  th:value="${ptmparams.CUST_ID}"  /> 
												<input type="hidden" name="TXN_AMOUNT"  th:value="${ptmparams.TXN_AMOUNT}"  /> 
												<input type="hidden" name="CHANNEL_ID"  th:value="${ptmparams.CHANNEL_ID}"  /> 
												<input type="hidden" name="INDUSTRY_TYPE_ID"  th:value="${ptmparams.INDUSTRY_TYPE_ID}"  /> 
												<input type="hidden" name="WEBSITE"  th:value="${ptmparams.WEBSITE}"  /> 
												<input type="hidden" name="SUBS_SERVICE_ID"  th:value="${ptmparams.SUBS_SERVICE_ID}"  /> 
												<input type="hidden" name="SUBS_AMOUNT_TYPE"  th:value="${ptmparams.SUBS_AMOUNT_TYPE}"  /> 
												<input type="hidden" name="SUBS_FREQUENCY"  th:value="${ptmparams.SUBS_FREQUENCY}"  /> 
												<input type="hidden" name="SUBS_FREQUENCY_UNIT"  th:value="${ptmparams.SUBS_FREQUENCY_UNIT}"  /> 
												<input type="hidden" name="SUBS_ENABLE_RETRY"  th:value="${ptmparams.SUBS_ENABLE_RETRY}"  /> 
												<input type="hidden" name="SUBS_EXPIRY_DATE"  th:value="${ptmparams.SUBS_EXPIRY_DATE}"  /> 
												<input type="hidden" name="SUBS_MAX_AMOUNT"  th:value="${ptmparams.SUBS_MAX_AMOUNT}"  /> 
												<input type="hidden" name="SUBS_PPI_ONLY"  th:value="${ptmparams.SUBS_PPI_ONLY}"  /> 
												<input type="hidden" name="CALLBACK_URL"  th:value="${ptmparams.CALLBACK_URL}"  /> 
						<input type="hidden" name="CHECKSUMHASH"  th:value="${ptmparams.CHECKSUMHASH}"  /> 
									       		 <input type="submit" value="PROCEED TO PAY" /> 
	                                     </div>
	                                </td>
	                            </tr>
	                        </table>
                   		 </td>
                </tr>
                <tr height="5">
                    <td> </td>
                </tr>
                <tr>
                    <td align="center">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="txt3">   &nbsp; </td>
                            </tr>
                            <tr>
                                <td class="txt1">  nexGTv-The Tv button  <br /> on your mobile device.  </td>
                            </tr>
                            <tr height="5">
                                <td>   </td>
                            </tr>
                            <tr>
                                <td> &nbsp;  </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <div>
                                                    <p class="txt2">
                                                        You will also get full access to:</p>
                                                    <p>
                                                        <ul class="a">
                                                            <li>140+ Live TV channels</li>
                                                            <li>Latest tv shows episodes</li>
                                                            <li>Unlimited popular videos</li>
                                                            <li>Unlimited blockbuster movies</li>
                                                            <li>Sync all your devices with a
                                                                <br />
                                                                single subscription </li>
                                                        </ul>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr height="10">
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        
        
        </div>
	</form>
	
	
	


</body>
</html>