<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
	
<script type="text/javascript">  


	function submitToCG()
	{   
		//alert('method invoked');
		document.getElementById('xform').submit();
		//alert('form submitted');
		//document.xform.submit();
	}
	
</script>  
</head>
<body  onload="submitToCG()" >
	
	<div class="container">
	
	<form id="xform" action="https://secure.paytm.in/oltp-web/processTransaction"  th:object="${ptmparams}" method="POST">
    <p><input type="hidden" name="REQUEST_TYPE"  th:value="${ptmparams.REQUEST_TYPE}"  /> </p>
<p><input type="hidden" name="MID"  th:value="${ptmparams.MID}"  /> </p>
<p><input type="hidden" name="ORDER_ID"  th:value="${ptmparams.ORDER_ID}"  /> </p>
<p><input type="hidden" name="CUST_ID"  th:value="${ptmparams.CUST_ID}"  /> </p>
<p><input type="hidden" name="TXN_AMOUNT"  th:value="${ptmparams.TXN_AMOUNT}"  /> </p>
<p><input type="hidden" name="CHANNEL_ID"  th:value="${ptmparams.CHANNEL_ID}"  /> </p>
<p><input type="hidden" name="INDUSTRY_TYPE_ID"  th:value="${ptmparams.INDUSTRY_TYPE_ID}"  /> </p>
<p><input type="hidden" name="WEBSITE"  th:value="${ptmparams.WEBSITE}"  /> </p>
<p><input type="hidden" name="SUBS_SERVICE_ID"  th:value="${ptmparams.SUBS_SERVICE_ID}"  /> </p>
<p><input type="hidden" name="SUBS_AMOUNT_TYPE"  th:value="${ptmparams.SUBS_AMOUNT_TYPE}"  /> </p>
<p><input type="hidden" name="SUBS_FREQUENCY"  th:value="${ptmparams.SUBS_FREQUENCY}"  /> </p>
<p><input type="hidden" name="SUBS_FREQUENCY_UNIT"  th:value="${ptmparams.SUBS_FREQUENCY_UNIT}"  /> </p>
<p><input type="hidden" name="SUBS_ENABLE_RETRY"  th:value="${ptmparams.SUBS_ENABLE_RETRY}"  /> </p>
<p><input type="hidden" name="SUBS_EXPIRY_DATE"  th:value="${ptmparams.SUBS_EXPIRY_DATE}"  /> </p>
<p><input type="hidden" name="SUBS_MAX_AMOUNT"  th:value="${ptmparams.SUBS_MAX_AMOUNT}"  /> </p>
<p><input type="hidden" name="SUBS_PPI_ONLY"  th:value="${ptmparams.SUBS_PPI_ONLY}"  /> </p>
<p><input type="hidden" name="CALLBACK_URL"  th:value="${ptmparams.CALLBACK_URL}"  /> </p>
<p><input type="hidden" name="CHECKSUMHASH"  th:value="${ptmparams.CHECKSUMHASH}"  /> </p>
          
        <p>Forwarding request to PayTM...... </p>
        
        
    </form>
	

	</div>
	

</body>
</html>