<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta http-equiv="cache-control" content="max-age=200" />
    <title>NexGTv</title>
    <link href="/css/style.css" media="handheld, screen" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="container">
        <div id="header">
            <div class="logo">
                <img src="/images/logo.png" width="50" height="50" alt="NexGTv" /></div>
        </div>
        <div class="textMess">
            <p>
               Consent Gateway Error Code <span th:text="${message}"></span>. Please try again later.</p>
            <br />
            <p align="center">
                &nbsp;</p>
        </div>
    </div>
    <br />
   
    <p align="right">
        <img src="/images/powered-by-digivive.png" alt="" width="146" height="56" />
    </p>
    <div id="bottom">
        © 2018. All Rights Reserved.
    </div>
    </form>
</body>
</html>
