<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1" runat="server">
    <title>Spring Boot Thymeleaf Hello World Example</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

	<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
	
   <!--  --> <link href="sorry_page/style.css" media="handheld, screen" rel="stylesheet" type="text/css" />-->
</head>
<body>






    <form id="form2" runat="server">
    <div class="container">
        <div class="top">
            <div id="header">
                <div class="logo">
                </div>
                <div class="rtxt">
                    <p>
                        Entertainment for<br />
                        <b>the non-stop generation</b>
                    </p>
                </div>
            </div>
            <p class="hdg2">
                &nbsp;</p>
        </div>
        <div class="textMess">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="100%" align="center">
                        <table width="100%">
                            <tr>
                                <td align="center">
                                
                                    <div class="add">
                                    
                                        <%--<img id="imgSrc" runat="server" src="images/mtv-img.jpg" /></div>--%>
                                        <asp:ImageButton ID="imgPostConsent" runat="server" OnClick="imgPostConsent_Click" />
                                        <%--<img id="imgSrc" runat="server" />--%>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr height="5">
                    <td>
                    </td>
                </tr>
                <tr height="5">
                    <td>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table>
                            <tr>
                                <td>
                                    <div>
                                        <asp:Button ID="btnPay" runat="server" Text="PROCEED TO PAY" CssClass="btn" OnClick="btnPay_Click" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr height="5">
                    <td>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="txt3">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                            
                                <td class="txt1">
                                    nexGTv-The Tv button
                                    <br />
                                    on your mobile device.
                                </td>
                            </tr>
                            <tr height="5">
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <div>
                                                    <p class="txt2">
                                                        You will also get full access to:</p>
                                                    <p>
                                                        <ul class="a">
                                                            <li>140+ Live TV channels</li>
                                                            <li>Latest tv shows episodes</li>
                                                            <li>Unlimited popular videos</li>
                                                            <li>Unlimited blockbuster movies</li>
                                                            <li>Sync all your devices with a
                                                                <br />
                                                                single subscription </li>
                                                        </ul>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr height="10">
                    <td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </form>
</body>
</html>
