<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="max-age=200" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome</title>

	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="../../css/main.css" />
</head>
<body>
	
	
	<div class="container">
	<h1>Vodafone Pre-CG Page (need to be formatted) </h1>
	<form action="http://cgwap.vodafone.in/cgnew/wap"  th:object="${vcp}" method="GET">
    	<p><input type="hidden" th:field="*{Service}" /></p>
        <p><input type="hidden" th:field="*{Loginid}" /></p>
         <p> <input type="hidden" th:field="*{password}" /></p>
          <p> <input type="hidden" th:field="*{org_id}" /></p>
          <p> <input type="hidden" th:field="*{CircleId}" /></p>  
           <p> <input type="hidden" th:field="*{from}" /></p>
            <p> <input type="hidden" th:field="*{consentStatus}" /></p>
             <p> <input type="hidden" th:field="*{consentMsg}" /></p>
              <p> <input type="hidden" th:field="*{CallBackURL}" /></p>
            <p> <input type="hidden" name="Class"  th:value="${vcp.CLASS}"  /></p>
            <p> <input type="hidden" th:field="*{MSISDN}" /></p>
             <p><input type="hidden" th:field="*{mode}" /></p>
              <p> <input type="hidden" th:field="*{requestid}" /></p>
            <p> <input type="hidden" th:field="*{Requesttime}" /></p>
           <!-- <p><input type="hidden" th:field="*{param1}" /></p> --> 
             <p> <input type="hidden" th:field="*{param3}" /></p>
              
          
        <p><input type="submit" value="Confirm" /> </p>
        
        
    </form>
	

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>