<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="max-age=200" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome</title>
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="/css/main.css" />
	 <link href="/css/style.css" media="handheld, screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<form action="http://cgwap.vodafone.in/cgnew/wap"  th:object="${vcp}" method="GET">
	  <div class="container">
        <div class="top">
            <div id="header">
                <div class="logo"> <img src="/images/logo.png" width="50" height="50" alt="NexGTv" /></div>
                <div class="rtxt"><p>   Entertainment for<br />  <b>the non-stop generation</b>  </p>  </div>
            </div>
            <p class="hdg2">  &nbsp;</p>
        </div>
          <div class="textMess">
            <table width="100%" cellspacing="0" cellpadding="0">
                <tr height="5">
                    <td> </td>
                </tr>
                <tr height="5">
                    <td></td>
                </tr>
                <tr>
                    <td align="center">
                        <table>
                            <tr>
                                <td>
                                    <div>
                                    		<input type="hidden" th:field="*{Service}" />
									        <input type="hidden" th:field="*{Loginid}" />
									          <input type="hidden" th:field="*{password}" />
									           <input type="hidden" th:field="*{org_id}" />
									           <input type="hidden" th:field="*{CircleId}" />  
									            <input type="hidden" th:field="*{from}" />
									             <input type="hidden" th:field="*{consentStatus}" />
									              <input type="hidden" th:field="*{consentMsg}" />
									               <input type="hidden" th:field="*{CallBackURL}" />
									             <input type="hidden" name="Class"  th:value="${vcp.CLASS}"  />
									             <input type="hidden" th:field="*{MSISDN}" />
									             <input type="hidden" th:field="*{mode}" />
									               <input type="hidden" th:field="*{requestid}" />
									             <input type="hidden" th:field="*{Requesttime}" />
									           <!-- <input type="hidden" th:field="*{param1}" /> --> 
									              <input type="hidden" th:field="*{param3}" />
									       		 <input type="submit" value="PROCEED TO PAY" /> 
	                                     </div>
	                                </td>
	                            </tr>
	                        </table>
                   		 </td>
                </tr>
                <tr height="5">
                    <td> </td>
                </tr>
                <tr>
                    <td align="center">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="txt3">   &nbsp; </td>
                            </tr>
                            <tr>
                                <td class="txt1">  nexGTv-The Tv button  <br /> on your mobile device.  </td>
                            </tr>
                            <tr height="5">
                                <td>   </td>
                            </tr>
                            <tr>
                                <td> &nbsp;  </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td>
                                                <div>
                                                    <p class="txt2">
                                                        You will also get full access to:</p>
                                                    <p>
                                                        <ul class="a">
                                                            <li>140+ Live TV channels</li>
                                                            <li>Latest tv shows episodes</li>
                                                            <li>Unlimited popular videos</li>
                                                            <li>Unlimited blockbuster movies</li>
                                                            <li>Sync all your devices with a
                                                                <br />
                                                                single subscription </li>
                                                        </ul>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr height="10">
                    <td>
                    </td>
                </tr>
            </table>
        </div>
        
        
        </div>
	</form>
	
	
	


</body>
</html>