<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>NexgTV</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>
	
	<div class="container">
	<h1>Form</h1>
    <form action="/jocg/charge/${operator}"  method="post">
    	<p>Operator: <input type="text" name="operator" value="${operator}" /></p>
        <p>Package: <input type="text" name="pack" value="${pack}" /></p>
         <p>Subscriber Id: <input type="text" name="subid" value="${subid}"/></p>
          <p>Voucher Id: <input type="text" name="voucher" value="${voucher}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>