<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="cache-control" content="max-age=200" />
 	 <title>Mobikwik</title>
     <style>
        body
        {
            margin: 0;
            padding: 0;
            font-size: 2em;
        }
        
        .head-bg
        {
            background-color: #00c3c1;
            width: 100%;
            height: 100px;
        }
        
        .logo
        {
            float: left;
            margin: 20px;
        }
        
        section
        {
            width: 100%;
            height: 800px;
        }
        
        p
        {
            text-align: left;
            font-weight: 600;
            padding: 20px;
            font-size: 1.3em;
        }
         .field
        {
            padding: 10px;
            border: #ccc 1px solid;
        }
        .cont
        {
            width: 90%;
            clear: both;
            margin: auto;
            text-align: center;
        }
        
        .resend
        {
            width: 300px;
            height: 80px;
            color: white;
            font-size: 1.2em;
            background-color: #00c3c1;
            border: none;
            outline: none;
        }
        
        .submit
        {
            width: 300px;
            height: 80px;
            color: white;
            font-size: 1.2em;
            background-color: #00c3c1;
            border: none;
            outline: none;
        }
        
        .btm-logo
        {
            float: right;
            margin: 20px;
        }
        footer
        {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100px;
            width: 100%;
            overflow: hidden;
        }
         .error
        {
            color: red;
            text-align: left;
        }
    </style>
</head>
<body>
	<form action="/jocg/charge/walletreg"  method="post">
	 <nav>
            <div class="head-bg">
            <div class="logo">
            <img src="/images/logo.png"  width="30%"/>
            </div>
            </div>
        </nav>
   
    <p>
        Please enter your wallet details:-
    </p>
     <div class="cont">
	
       								 <!-- Email : <input type="text" name="email" value=""  /> <br/> OR  -->
                                    		<br/> Msisdn : <input type="text" name="msisdn" value=""  />
                                    		
												<input type="hidden" name="transid"  th:value="${transid}"  /> 
												<input type="hidden" name="vname"  value="wregmobikwick"  />
												<br />
								 <br/>
												 <input type="submit" value="SUBMIT" /> 
												<br/> <br/>   <span  class="error" th:text="${message}"></span>
	                                    </div>
    </form>    
    <p align="right">
        <div class="btm-logo">
            <img src="/images/digi.png" alt="" />
            </div>
    </p>    
</body>
</html>