<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head runat="server">
    <title></title>
    <style>
        body
        {
            margin: 0;
            padding: 0;
            font-size: 2em;
        }
        .head-bg
        {
            background-color: #00c3c1;
            width: 100%;
            height: 100px;
        }
        .logo img
        {
            width: 15%;
        }
         section
        {
            width: 100%;
            height: 800px;
        }
         p
         {
            font-size: 1.2em;
            font-weight: 600;
        }
        .resend
        {
            padding: 10px;
            color: white;
            font-size: 0.8em;
            margin-left: 5px;
            background-color: #e4724d;
            border: none;
            outline: none;
        }
        .submit
        {
            width: 20%;
            padding: 10px 0;
            color: white;
            font-size: 0.8em;
            background-color: #e4724d;
            border: none;
            outline: none;
        }
        .btm-logo img
        {
            width: 100%;
        }
        @media only screen and (max-width: 460px)
        {
            p
            {
                font-size: 0.8em;
                font-weight: 600;
            }
            .logo img
            {
                width: 35%;
            }
            .btm-logo img
            {
                width: 60%;
            }
            .resend
            {
                padding: 10px 5px;
                color: white;
                font-size: 0.8em;
                margin-left: 5px;
                background-color: #e4724d;
                border: none;
                outline: none;
            }
            .submit
            {
                width: 60%;
                padding: 10px 0;
                color: white;
                font-size: 0.8em;
                background-color: #e4724d;
                border: none;
                outline: none;
            }
        
        }
         .field
        {
            padding: 10px;
            border: #ccc 1px solid;
        }
        
        .cont
        {
            padding: 0 10px;
            text-align: center;
        }
        
        
        .yes
        {
            width: 300px;
            height: 80px;
            color: white;
            top: 50%;
            left: 34%;
            position: relative;
            background-color: #e4724d;
            border: none;
            outline: none;
        }
        
        
        
        .btm-logo
        {
            float: right;
            margin: 20px;
        }
        footer
        {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100px;
            width: 100%;
            overflow: hidden;
        }
          .error
        {
            color: red;
            text-align: left;
        }
    </style>
</head>
<body>
    <section>
	<form action="/jocg/charge/walletreg"  method="post">
	  <div class="head-bg">
        <div class="logo">
            <img src="/images/oxygen-wallet-logo.png" width="30%"/>
        </div>
    </div>
   <p>
                                    	Please enter your wallet details:-
                                    	</p> 

<div class="cont">
<br/>&nbsp;<br/>
                                    		<!-- Email : <input type="text" name="email" value=""  /> <br/> OR  -->
                                    		<br/> Msisdn : <input type="text" name="msisdn" value=""  />
 												<input type="hidden" name="transid"  th:value="${transid}"  /> 
												<input type="hidden" name="vname"  value="wregoxigen"  />
												 <br/>
    <br/> 
												 <input type="submit" value="SUBMIT" /> 
												 <br/> <br/>   <span  class="error" th:text="${message}"></span>
	                                    <br />
  
</div>     
    </form>
    </section>
    <footer>
<div class="btm-logo">
<img src="/images/digi.png"/>
</div>
</footer>
</body>
</html>
	                             